@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p>Movie Collection was created by <a href="mailto:taylor.joshua88@gmail.com">Joshua Taylor</a> as
   a demo of using ASP.NET, MVC, and Entity Framework on .NET Framework rather than
   .NET Core. You can reach me as follows:</p>

<dl class="dl-horizontal">
    <dt>Email</dt>
    <dd><a href="mailto:taylor.joshua88@gmail.com">Joshua Taylor</a></dd>
    <dt>Twitter</dt>
    <dd><a href="https://twitter.com/Jupiter_Nebula">&#64;Jupiter_Nebula</a></dd>
    <dt>GitHub</dt>
    <dd><a href="https://github.com/taylorjoshuaw">taylorjoshuaw</a></dd>
    <dt>LinkedIn</dt>
    <dd><a href="https://www.linkedin.com/in/taylorjoshuaw/">taylorjoshuaw</a></dd>
</dl>