@{
    ViewBag.Title = "Home Page";
}

<h2>Movie Collection</h2>

<p>Movie Collection is a simple demonstration application of ASP.NET, MVC, and Entity Framework
    using .NET Framework rather than .NET Core. CRUD operations have been provided
    to create, read, update, and delete movies from a local database. This can be
    accessed via the "Movies" link in the top navigation bar.</p>

<strong>Use the @Html.ActionLink(@"""Movies""", "Index", "Movies") link in the top navigation bar to create, read, update, and
delete movies from the local database.</strong>